body {
  margin: 0%;
  padding: 0%;
}

.formdiv {
  width: 100%;
  height: 100vh;
  background-color: beige;
}

.header {
  width: 100%;
  height: 20px;
}
.title{
    margin: 0 20%;
}

.circle{
    width: 20px;
    height: 20px;
    margin-left: 2px;
}

.container{
    width: 100%;
    justify-content: center;
   
    padding: 50px;
    background-color:white;
}
.row{
    width: 600px;
    padding: 0 2%;

    text-align: left;
}

.cols{
    width: initial;
    text-align: left;
    border: 1px black solid ;
    padding: 10%;
}
input,select{
    width: 90%;
    border: none;
}
.btn{
    border: none;
}

.input-div{
    border: 1px solid black ;
}
 
span {
width: 15px;
background-color:red ;
}

button[type=submit]{
    width: 90%;
    margin: 5%;

    background-color: rgb(41, 117, 224);
    border: none;
    padding: 5px;
    border-radius: 2px;
}

.error-ex{
    border: none;
    color: orange;
    background: none;
   display: none;
}

.result-div{
 display: flex;
    background-color: white;
top: 30%;
left:30%;

width:800px;
height: 400px;

justify-content: center;
padding:4%;

}
#tax-div{
    display: none;
}

.grosse-div{
    display: none;
    width: 150px;
    height: max-content;
    translate: 460px -80px;
    z-index: auto;
    font-size: 12px;
    margin-right: 10px;
      background-color: bisque;
}



.extrae-div{
    display: none;
        width: 150px;
    height: max-content;
    translate: 460px -80px;
    z-index: auto;
    font-size: 12px;
    margin-right: 10px;
    background-color: bisque;

}


.agee-div{
display: none;
         width: 150px;
  height: max-content;
    translate: 460px -90px;
    z-index: auto;
    font-size: 12px;
    margin-right: 10px;
  background-color: bisque;
}

.dede-div{
    display: none;
      background-color: bisque;
         width: 150px;
    height: max-content;
    translate: 460px -90px;
    z-index: auto;
    font-size: 12px;
    margin-right: 10px;

}
/* hover div */


.error-ex:hover + .grosse-div{
    display: block;
    width: 400px;
    height: auto;
    background-color: aquamarine;
}

.ghelp-m{
    display: none;
   
       width: 150px;
    height: max-content;
font-size: 12px;
padding-bottom: 5px;
background-color: grey;
transform: translateX('50px');
margin-bottom: 50px;
}
.label-g:hover + .ghelp-m{

    display :block;
 


}
.labele-h{
    display: none;
      width: 150px;
   height: max-content;
font-size: 12px;
padding-bottom: 5px;
background-color: grey;


}


.btn-div:hover + .labele-h{
display: block;
}


.age-help-div{
       display: none;
      width: 150px;
   height: max-content;
font-size: 12px;
padding-bottom: 5px;
background-color: grey;

}

.abtn:hover + .age-help-div{
    display: block;
}

.deduct-h{
    display: none;
      width: 150px;
    height: max-content;
font-size: 12px;
padding-bottom: 5px;
background-color: grey;

}

.d-btn:hover + .deduct-h{
display: block;
}